body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.login-page .container-fluid {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.login-page .row {
    height: 100%;
}

.left-panel {
    background-color: #c5f1c5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    position: relative;
    z-index: 2;
}

.right-panel {
    min-height: 100vh;
    background-image: url('../image/tree.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    padding: 0 !important;
}

@media (min-width: 769px) {
    .login-page .container-fluid::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    clip-path: polygon(58.3% 0, 70% 0, 58.3% 100%, 50% 100%);
    background: #c5f1c5;
    pointer-events: none;
}
}

@media (max-width: 768px) {
    body, html {
        height: auto;
    }

    .login-page .container-fluid {
        height: auto;
        min-height: 100vh;
    }

    .left-panel {
        min-height: 100vh;
        background: #c5f1c5;
        padding: 30px 15px;
    }

    .right-panel {
        display: none;
    }

    .login-page .container-fluid::before {
        display: none;
    }
}